
.swiper-scrollbar {
      height: 2px !important;
      border-radius: 3px !important;
      background: rgba(255, 255, 255, 0.30) !important;
}

.swiper-scrollbar-drag {
      border-radius: 3px 3px 0px 0px !important;
      background: #FFF !important;
}